html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  background: #fafafa;
}

.swagger-ui {
  .topbar {
    background-color: white !important;
    .download-url-wrapper {
      .download-url-button {
        background: #2e4066 !important;
      }
      input[type=text] {
        border: 2px solid #2e4066 !important;
      }
    }
  }
  .btn.authorize {
    color: #f85011 !important;
    border-color: #2e4066 !important;
    svg {
      fill: #f85011 !important;
    }
  }
  .topbar {
    a {
      max-width: 200px;
    }
    .download-url-wrapper {
      padding-top: 11px !important;
    }
  }
  .btn:hover {
    box-shadow: 0px 0px 5px 1px rgba(248, 80, 17, 0.6) !important;
  }
}